.header {
  margin: 1.4rem 1.5rem;
  font-weight: bolder;
  font-size: 2rem;
}
.listitem {
  margin: 1rem 0 1.4rem 1rem;
}
.article {
  display: flex;
  align-items: center;
}
.imagecontainer {
  flex: 0 0 auto;
  background-color: rgb(255, 17, 104);
  border-radius: 50%;
}
.nameartistcontainer {
  margin-left: 16px;
  flex: 1;
}

.trackname {
  font-weight: bold;
  line-height: 15px;
}
.trackartist {
  line-height: 12px;
  color: #454444;
  margin-top: 0.5rem;
}
.timeduration {
  margin-left: auto;
  flex: 0 0 auto;
  margin-right: 1rem;
}
