.header {
  margin: 1.4rem 1.5rem;
  font-weight: bolder;
  font-size: 2rem;
}
.listitem {
  margin: 1rem 0 1.4rem 1rem;
}
.article {
  display: flex;
  align-items: center;
}
.imagecontainer {
  flex: 0 0 auto;
  background-color: rgb(255, 17, 104);
  border-radius: 50%;
}
.nameartistcontainer {
  margin-left: 16px;
  flex: 1;
}

.trackname {
  font-weight: bold;
  line-height: 15px;
}
.trackartist {
  line-height: 12px;
  color: #454444;
  margin-top: 0.5rem;
}
.timeduration {
  margin-left: auto;
  flex: 0 0 auto;
  margin-right: 1rem;
}

/* Container for the circular icon */
.playicon {
  width: 3rem; /* Adjust the size as needed */
  height: 3rem; /* Same as width for a perfect circle */
  background: linear-gradient(
    135deg,
    #ff6a00,
    #ee0979
  ); /* Gradient background */
  border-radius: 50%; /* Makes the container a circle */
  display: flex; /* Use flexbox for centering the triangle */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds depth with a shadow */
}

/* Inner triangle representing the play button */
.playtriangle {
  width: 0;
  height: 0;
  border-left: 12px solid white; /* Adjust size as needed */
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
