.main {
  margin: 2rem;
  padding: 1rem;
}
.header {
  margin: 1rem;
  color: red;
}
.error {
  margin: 2rem 0;
  background-color: red;
  color: white;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 5px;
}
.login {
  margin-top: 5rem;
  text-align: center;
}
.loginButton {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;

  &:hover {
    /* background-color: gray; */

    opacity: 0.8;
  }
}
