/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@layer customComponents;
@layer customComponents {
  li {
    list-style: none;
  }
  button {
    background-color: rgba(255, 60, 0, 0.438); /* Green */
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 1rem;
    border-radius: 1rem;
    width: 20rem;
    &:hover {
      background-color: red;
      color: white;
      cursor: pointer;
    }
  }
  .list {
    margin-left: 1rem;
    background-color: rgba(128, 128, 128, 0.402);
  }
}
/*

@layer reset, base1, navigation, components1;

@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans Regular", sans-serif;
  }
  html,
  body {
    width: 100%;
    overflow-x: hidden;
    font-size: 14px;
    padding: 28px 25px 28px 25px;
  }
}

@layer base1 {
  :root {
    --background-color: rgb(255, 255, 255);
    --text-color: rgb(17, 22, 37);
    --red-background-color: rgb(255, 17, 104);
  }
}
@layer base1 {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 16px;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

@layer components1 {
  .login-component {
    padding: 34px 25px 0 24.5px;
    .loginheader {
      margin-bottom: 174px;
      font-size: 36px;
      font-weight: bold;
    }
    .loginform {
      min-width: 325.5px;
      min-height: 290px;
      .hr {
        margin-bottom: 27px;
      }
      .hr2 {
        margin-bottom: 60px;
      }
      .loginlabel {
        font-size: 15px;
        font-weight: bold;
      }
      .loginlabelusername {
        margin-bottom: 25px;
      }
      .loginlink {
        margin-top: 39px;
        font-size: 15px;
        font-weight: bold;
        padding: 21px 144px 16px 131px;
        border: 5px solid var(--text-color);
        border-radius: 50px;
      }
      .inputandimage input {
        border: none;
        &:focus {
          outline: none;
        }
      }
    }
    .fingerprintcontainer {
      width: 50%;
      padding: 5px;
      border-radius: 50px;
      background-color: var(--red-background-color);
      text-align: center;
      margin-left: 20%;
      .fingerprintimage {
        object-fit: contain;
      }
    }
    .fingerprinttext {
      margin-top: 20px;
      margin-left: 25%;
      font-size: 15px;
      font-weight: lighter;
    }
  }

  .featured-component {
    .articleheader {
      margin-bottom: 36.75px;
      color: linear-gradient(to left top rgb(255, 17, 104), rgb(242, 188, 6));
    }
  }
}
*/
