.footer {
  display: flex;
  width: 375px;
  text-align: center;
  padding: 1rem;
  background-color: white;
  justify-content: space-between;
  margin-top: 5rem;
  /* background-color: black; */

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  text-align: center;
}
.wififooter {
  background-color: rgb(255, 17, 104);
  padding: 0.5rem;
  border-radius: 50%;
}
