.footer {
  display: flex;
  align-items: center;
  /* width: 100%; */
  width: 375px;
  padding: 1rem;
  background-color: white;
  justify-content: space-between;
  margin-top: 5rem;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.wififooter {
  background-color: rgb(255, 17, 104);
  padding: 0.5rem;
  border-radius: 50%;
}
.footericoncontainer {
  width: 2rem;
  height: 2rem;
}
.imgicon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
