.header {
  background-color: var(--background-color);
  .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .signout {
      color: white;
      border: none;
      &:hover {
        color: black;
      }
    }
    .heading {
      font-size: 1.5rem;
    }
    .menu {
      flex-direction: column;
    }
  }
}
.listImage {
  margin: 1.4rem 1.5rem;
}

