.header {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  background-color: rgb(255, 17, 104);

  color: white;
}
.article {
  display: block;
  width: 375px;
  text-align: center;
  margin-bottom: 1rem;
  /* background-color: black; */
  background-color: rgb(229, 64, 40);

  color: white;
}
.image {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
}
