.searchpage {
  display: flex;
  flex-direction: column;
  width: 375px;
}
.userinput {
  background-color: black;
  color: white;
}
.form {
  margin-top: 2rem;
  text-align: center;
}
.dropdown {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.select {
  background-color: black;
  color: white;
}
.formlabel {
  margin-top: 2rem;
}
.buttons {
  margin-left: 2.5rem;
  margin-top: 3rem;
}
.categorybutton {
  background-color: red;
  color: white;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: 1px white solid;
  border-radius: 50%;
}
.renderbuttondata {
  /* margin-top: 5rem; */
}
