.searchpage {
  display: flex;
  flex-direction: column;
  width: 375px;
}
.userinput {
  background-color: rgb(255, 17, 104);
  color: white;
}
.form {
  margin-top: 2rem;
  text-align: center;
}
.dropdown {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.select {
  background-color: rgb(255, 17, 104);
  color: white;
  border-color: none;
  &:hover {
    border-color: none;
  }
}
.formlabel {
  margin-top: 2rem;
  background-color: black;
  color: white;
  width: 80%;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}
.buttons {
  margin-left: 2.5rem;
  margin-top: 3rem;
}
.categorybutton {
  background-color: rgb(229, 64, 40);

  color: white;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: 1px white solid;
  border-radius: 50%;
}
.renderbuttondata {
  background-color: rgb(229, 64, 40);
  border: 1px white solid;
}
.message {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}
.disableSelect {
  color: black;
}
.selectOption {
  color: white;
  /* margin: 0.2rem; */
  padding: 0.2rem;
  text-align: center;
  font-size: 1rem;
  border-radius: 5px;
}
.formvalidation {
  background-color: black;
  color: white;
}
